{
    "openapi": "3.0.0",
    "info": {
        "title": "Asaancar API Documentation",
        "description": "API documentation for Asaancar - Car rental and pick & drop service platform",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/areas": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "List areas",
                "description": "Get a list of active areas, optionally filtered by city",
                "operationId": "getAreas",
                "parameters": [
                    {
                        "name": "city_id",
                        "in": "query",
                        "description": "Filter by city ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "city_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Clifton"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "clifton"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/contact-messages": {
            "get": {
                "tags": [
                    "Contact Messages"
                ],
                "summary": "List contact messages",
                "description": "Get a paginated list of contact messages (admin only)",
                "operationId": "getContactMessages",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/contact": {
            "post": {
                "tags": [
                    "Contact Messages"
                ],
                "summary": "Create contact message",
                "description": "Submit a new contact message",
                "operationId": "createContactMessage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "contact_info",
                                    "message"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "contact_info": {
                                        "type": "string",
                                        "example": "john@example.com"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "I would like to inquire about..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Message created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Thank you for contacting us!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/admin/contact-messages/stats": {
            "get": {
                "tags": [
                    "Contact Messages"
                ],
                "summary": "Get contact message statistics",
                "description": "Get statistics for contact messages (admin only)",
                "operationId": "getContactMessageStats",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_inquiries": {
                                            "type": "integer",
                                            "example": 150
                                        },
                                        "today_inquiries": {
                                            "type": "integer",
                                            "example": 5
                                        },
                                        "this_week_inquiries": {
                                            "type": "integer",
                                            "example": 25
                                        },
                                        "this_month_inquiries": {
                                            "type": "integer",
                                            "example": 100
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/contacting-stats": {
            "post": {
                "tags": [
                    "Contact Stats"
                ],
                "summary": "Record a contact interaction",
                "description": "Create or increment a contact stat when a user taps call, WhatsApp, or chat on a ride or ride request",
                "operationId": "storeContactingStat",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "recipient_user_id",
                                    "contactable_type",
                                    "contactable_id",
                                    "contact_method"
                                ],
                                "properties": {
                                    "recipient_user_id": {
                                        "type": "integer",
                                        "example": 44
                                    },
                                    "contactable_type": {
                                        "type": "string",
                                        "enum": [
                                            "pick_and_drop",
                                            "ride_request"
                                        ],
                                        "example": "pick_and_drop"
                                    },
                                    "contactable_id": {
                                        "type": "integer",
                                        "example": 17
                                    },
                                    "contact_method": {
                                        "type": "string",
                                        "enum": [
                                            "call",
                                            "whatsapp",
                                            "chat"
                                        ],
                                        "example": "whatsapp"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Contact interaction recorded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "interaction_count": {
                                                    "type": "integer",
                                                    "example": 3
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/upload/image": {
            "post": {
                "tags": [
                    "Image Upload"
                ],
                "summary": "Upload single image",
                "description": "Upload a single image to S3 storage",
                "operationId": "uploadSingleImage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Image file (jpeg, png, jpg, gif, webp, max 2MB)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "directory": {
                                        "description": "Directory path in S3",
                                        "type": "string",
                                        "example": "uploads"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Image uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Image uploaded successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "url": {
                                                    "type": "string",
                                                    "example": "https://s3.amazonaws.com/bucket/path/image.jpg"
                                                },
                                                "filename": {
                                                    "type": "string",
                                                    "example": "image.jpg"
                                                },
                                                "size": {
                                                    "type": "integer",
                                                    "example": 102400
                                                },
                                                "mime_type": {
                                                    "type": "string",
                                                    "example": "image/jpeg"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Upload failed"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Image Upload"
                ],
                "summary": "Delete image",
                "description": "Delete an image from S3 storage",
                "operationId": "deleteImage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "url"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "format": "url",
                                        "example": "https://s3.amazonaws.com/bucket/path/image.jpg"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Image deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Image deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/upload/images": {
            "post": {
                "tags": [
                    "Image Upload"
                ],
                "summary": "Upload multiple images",
                "description": "Upload multiple images to S3 storage (max 10 images)",
                "operationId": "uploadMultipleImages",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "images"
                                ],
                                "properties": {
                                    "images": {
                                        "description": "Image files (1-10 images)",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "directory": {
                                        "description": "Directory path in S3",
                                        "type": "string",
                                        "example": "uploads"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "All images uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "All images uploaded successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "uploaded": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "failed": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Partial success - some images failed"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "All uploads failed"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get user notifications",
                "description": "Retrieve paginated list of notifications for the authenticated user",
                "operationId": "getNotifications",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of notifications per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "unread_only",
                        "in": "query",
                        "description": "Filter to show only unread notifications",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Notification"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "from": {
                                            "type": "integer",
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "to": {
                                            "type": "integer",
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer"
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "from": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "to": {
                                                    "type": "integer",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Delete all notifications",
                "description": "Delete all notifications for the authenticated user",
                "operationId": "deleteAllNotifications",
                "parameters": [
                    {
                        "name": "read_only",
                        "in": "query",
                        "description": "Delete only read notifications",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notifications deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Notifications deleted successfully"
                                        },
                                        "deleted_count": {
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications/unread-count": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get unread notification count",
                "description": "Get the count of unread notifications for the authenticated user",
                "operationId": "getUnreadNotificationCount",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "unread_count": {
                                            "type": "integer",
                                            "example": 5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications/{id}/read": {
            "put": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark notification as read",
                "description": "Mark a specific notification as read",
                "operationId": "markNotificationAsRead",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Notification ID (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification marked as read",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Notification marked as read"
                                        },
                                        "notification": {
                                            "$ref": "#/components/schemas/Notification"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Notification not found"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications/read-all": {
            "put": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark all notifications as read",
                "description": "Mark all unread notifications as read for the authenticated user",
                "operationId": "markAllNotificationsAsRead",
                "responses": {
                    "200": {
                        "description": "All notifications marked as read",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "All notifications marked as read"
                                        },
                                        "marked_count": {
                                            "type": "integer",
                                            "example": 10
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications/{id}": {
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Delete notification",
                "description": "Delete a specific notification",
                "operationId": "deleteNotification",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Notification ID (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Notification deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Notification deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Notification not found"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/pick-and-drop": {
            "get": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "List pick and drop services",
                "description": "Get a paginated list of active pick and drop services with optional filters",
                "operationId": "getPickAndDropServices",
                "parameters": [
                    {
                        "name": "start_location",
                        "in": "query",
                        "description": "Filter by start location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_location",
                        "in": "query",
                        "description": "Filter by end location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "driver_gender",
                        "in": "query",
                        "description": "Filter by driver gender",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "male",
                                "female"
                            ]
                        }
                    },
                    {
                        "name": "min_spaces",
                        "in": "query",
                        "description": "Minimum available spaces",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "departure_date",
                        "in": "query",
                        "description": "Filter by departure date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "departure_time",
                        "in": "query",
                        "description": "Filter by departure time (HH:MM)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "is_roundtrip",
                        "in": "query",
                        "description": "Filter by roundtrip services",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "schedule_type",
                        "in": "query",
                        "description": "Filter by schedule type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "once",
                                "everyday",
                                "weekdays",
                                "weekends",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PickAndDrop"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customer/pick-and-drop": {
            "post": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Create pick and drop service",
                "description": "Create a new pick and drop service",
                "operationId": "createPickAndDropService",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "start_location",
                                    "end_location",
                                    "pickup_city_id",
                                    "pickup_area_id",
                                    "dropoff_city_id",
                                    "dropoff_area_id",
                                    "departure_date",
                                    "departure_time",
                                    "available_spaces",
                                    "driver_gender"
                                ],
                                "properties": {
                                    "start_location": {
                                        "type": "string",
                                        "example": "Karachi Airport"
                                    },
                                    "end_location": {
                                        "type": "string",
                                        "example": "Clifton Beach"
                                    },
                                    "pickup_city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "pickup_area_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dropoff_city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dropoff_area_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "departure_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-15"
                                    },
                                    "departure_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "10:00"
                                    },
                                    "available_spaces": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "driver_gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female"
                                        ],
                                        "example": "male"
                                    },
                                    "stops": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "location": {
                                                    "type": "string"
                                                },
                                                "city_id": {
                                                    "type": "integer"
                                                },
                                                "area_id": {
                                                    "type": "integer"
                                                },
                                                "stop_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "order": {
                                                    "type": "integer"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Service created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PickAndDrop"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/pick-and-drop/{id}": {
            "get": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Get pick and drop service details",
                "description": "Get detailed information about a specific pick and drop service",
                "operationId": "getPickAndDropService",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PickAndDrop"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Service not found"
                    }
                }
            }
        },
        "/api/customer/pick-and-drop/{id}": {
            "put": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Update pick and drop service",
                "description": "Update an existing pick and drop service (only owner can update)",
                "operationId": "updatePickAndDropService",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "start_location": {
                                        "type": "string",
                                        "example": "Karachi Airport"
                                    },
                                    "end_location": {
                                        "type": "string",
                                        "example": "Clifton Beach"
                                    },
                                    "pickup_city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "pickup_area_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dropoff_city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dropoff_area_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "departure_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-15"
                                    },
                                    "departure_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "10:00"
                                    },
                                    "available_spaces": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "driver_gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female"
                                        ],
                                        "example": "male"
                                    },
                                    "stops": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Service updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PickAndDrop"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - not the owner"
                    },
                    "404": {
                        "description": "Service not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Delete pick and drop service",
                "description": "Delete a pick and drop service (only owner can delete)",
                "operationId": "deletePickAndDropService",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Service deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Service deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - not the owner"
                    },
                    "404": {
                        "description": "Service not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/customer/pick-and-drop/my-services": {
            "get": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Get user's pick and drop services",
                "description": "Get a paginated list of the authenticated user's pick and drop services",
                "operationId": "getMyPickAndDropServices",
                "parameters": [
                    {
                        "name": "start_location",
                        "in": "query",
                        "description": "Filter by start location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_location",
                        "in": "query",
                        "description": "Filter by end location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "driver_gender",
                        "in": "query",
                        "description": "Filter by driver gender",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "male",
                                "female"
                            ]
                        }
                    },
                    {
                        "name": "min_spaces",
                        "in": "query",
                        "description": "Minimum available spaces",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "departure_date",
                        "in": "query",
                        "description": "Filter by departure date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PickAndDrop"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/customer/pick-and-drop/favorites": {
            "get": {
                "tags": [
                    "Pick & Drop Favorites"
                ],
                "summary": "List favorite pick and drop services",
                "description": "Get a paginated list of the authenticated user's favorite pick and drop services",
                "operationId": "getPickAndDropFavorites",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PickAndDrop"
                                            }
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Pick & Drop Favorites"
                ],
                "summary": "Add a service to favorites",
                "description": "Add a specific pick and drop service to the user's favorites",
                "operationId": "addPickAndDropFavorite",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "pick_and_drop_service_id"
                                ],
                                "properties": {
                                    "pick_and_drop_service_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Service added to favorites",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Service added to favorites"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/customer/pick-and-drop/favorites/{id}": {
            "delete": {
                "tags": [
                    "Pick & Drop Favorites"
                ],
                "summary": "Remove a service from favorites",
                "description": "Remove a specific pick and drop service from the user's favorites",
                "operationId": "removePickAndDropFavorite",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Pick and Drop Service ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Service removed from favorites",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Service removed from favorites"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Favorite not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/ride-requests": {
            "get": {
                "tags": [
                    "Ride Requests"
                ],
                "summary": "List ride requests",
                "description": "Get a paginated list of active ride requests with optional filters",
                "operationId": "getRideRequests",
                "parameters": [
                    {
                        "name": "start_location",
                        "in": "query",
                        "description": "Filter by start location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_latitude",
                        "in": "query",
                        "description": "Start latitude for nearest match search",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "start_longitude",
                        "in": "query",
                        "description": "Start longitude for nearest match search",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "end_location",
                        "in": "query",
                        "description": "Filter by end location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_latitude",
                        "in": "query",
                        "description": "End latitude for nearest match search",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "end_longitude",
                        "in": "query",
                        "description": "End longitude for nearest match search",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "preferred_driver_gender",
                        "in": "query",
                        "description": "Filter by preferred driver gender",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "male",
                                "female",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "required_seats",
                        "in": "query",
                        "description": "Minimum seats needed",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "departure_date",
                        "in": "query",
                        "description": "Filter by departure date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "departure_time",
                        "in": "query",
                        "description": "Filter by departure time (HH:MM)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/RideRequest"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customer/ride-requests": {
            "post": {
                "tags": [
                    "Ride Requests"
                ],
                "summary": "Create ride request",
                "description": "Create a new ride request",
                "operationId": "createRideRequest",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "start_location",
                                    "end_location",
                                    "departure_time",
                                    "required_seats",
                                    "preferred_driver_gender"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Sarah Ahmed",
                                        "nullable": true
                                    },
                                    "contact": {
                                        "type": "string",
                                        "example": "+923001112233",
                                        "nullable": true
                                    },
                                    "start_location": {
                                        "type": "string",
                                        "example": "Lahore, Pakistan"
                                    },
                                    "start_place_id": {
                                        "type": "string",
                                        "example": "ChIJ2QeB5YMEGTkRYiR-zGy-OsI",
                                        "nullable": true
                                    },
                                    "start_latitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 31.5204,
                                        "nullable": true
                                    },
                                    "start_longitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 74.3587,
                                        "nullable": true
                                    },
                                    "end_location": {
                                        "type": "string",
                                        "example": "Karachi, Pakistan"
                                    },
                                    "end_place_id": {
                                        "type": "string",
                                        "example": "ChIJv8nA2Y4-sz4R77g5SRY5uW0",
                                        "nullable": true
                                    },
                                    "end_latitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 24.8607,
                                        "nullable": true
                                    },
                                    "end_longitude": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 67.0011,
                                        "nullable": true
                                    },
                                    "departure_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-04-25",
                                        "nullable": true
                                    },
                                    "departure_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "08:30"
                                    },
                                    "schedule_type": {
                                        "type": "string",
                                        "enum": [
                                            "once",
                                            "everyday",
                                            "weekdays",
                                            "weekends",
                                            "custom"
                                        ],
                                        "example": "once"
                                    },
                                    "selected_days": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Monday",
                                            "Wednesday"
                                        ],
                                        "nullable": true
                                    },
                                    "is_roundtrip": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "return_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "18:00",
                                        "nullable": true
                                    },
                                    "required_seats": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "preferred_driver_gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female",
                                            "any"
                                        ],
                                        "example": "female"
                                    },
                                    "budget_per_seat": {
                                        "type": "integer",
                                        "example": 1200,
                                        "nullable": true
                                    },
                                    "currency": {
                                        "type": "string",
                                        "example": "PKR"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Need a comfortable morning ride.",
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ride request created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RideRequest"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/ride-requests/{id}": {
            "get": {
                "tags": [
                    "Ride Requests"
                ],
                "summary": "Get ride request details",
                "description": "Get detailed information about a specific ride request",
                "operationId": "getRideRequest",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ride request ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RideRequest"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Ride request not found"
                    }
                }
            }
        },
        "/api/customer/ride-requests/{id}": {
            "put": {
                "tags": [
                    "Ride Requests"
                ],
                "summary": "Update ride request",
                "description": "Update an existing ride request (only owner can update)",
                "operationId": "updateRideRequest",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ride request ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Sarah Ahmed",
                                        "nullable": true
                                    },
                                    "contact": {
                                        "type": "string",
                                        "example": "+923001112233",
                                        "nullable": true
                                    },
                                    "start_location": {
                                        "type": "string",
                                        "example": "Lahore, Pakistan"
                                    },
                                    "end_location": {
                                        "type": "string",
                                        "example": "Karachi, Pakistan"
                                    },
                                    "departure_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-04-25",
                                        "nullable": true
                                    },
                                    "departure_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "08:30"
                                    },
                                    "schedule_type": {
                                        "type": "string",
                                        "enum": [
                                            "once",
                                            "everyday",
                                            "weekdays",
                                            "weekends",
                                            "custom"
                                        ],
                                        "example": "custom"
                                    },
                                    "selected_days": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Monday",
                                            "Wednesday"
                                        ],
                                        "nullable": true
                                    },
                                    "is_roundtrip": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "return_time": {
                                        "type": "string",
                                        "format": "time",
                                        "example": "18:00",
                                        "nullable": true
                                    },
                                    "required_seats": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "preferred_driver_gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female",
                                            "any"
                                        ],
                                        "example": "female"
                                    },
                                    "budget_per_seat": {
                                        "type": "integer",
                                        "example": 1200,
                                        "nullable": true
                                    },
                                    "currency": {
                                        "type": "string",
                                        "example": "PKR"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Need a comfortable morning ride.",
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ride request updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RideRequest"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - not the owner"
                    },
                    "404": {
                        "description": "Ride request not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Ride Requests"
                ],
                "summary": "Delete ride request",
                "description": "Delete a ride request (only owner can delete)",
                "operationId": "deleteRideRequest",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Ride request ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ride request deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Ride request deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - not the owner"
                    },
                    "404": {
                        "description": "Ride request not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/customer/ride-requests/my-requests": {
            "get": {
                "tags": [
                    "Ride Requests"
                ],
                "summary": "Get user's ride requests",
                "description": "Get a paginated list of the authenticated user's ride requests",
                "operationId": "getMyRideRequests",
                "parameters": [
                    {
                        "name": "start_location",
                        "in": "query",
                        "description": "Filter by start location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_location",
                        "in": "query",
                        "description": "Filter by end location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "preferred_driver_gender",
                        "in": "query",
                        "description": "Filter by preferred driver gender",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "male",
                                "female",
                                "any"
                            ]
                        }
                    },
                    {
                        "name": "required_seats",
                        "in": "query",
                        "description": "Minimum seats needed",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "departure_date",
                        "in": "query",
                        "description": "Filter by departure date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "departure_time",
                        "in": "query",
                        "description": "Filter by departure time",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/RideRequest"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
[...]
