{
    "openapi": "3.0.0",
    "info": {
        "title": "Asaancar API Documentation",
        "description": "API documentation for Asaancar - Car rental and pick & drop service platform",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/admin/cars": {
            "get": {
                "tags": [
                    "Admin - Cars"
                ],
                "summary": "Get all cars (admin)",
                "description": "Get a paginated list of all cars for admin (no store filtering)",
                "operationId": "adminGetCars",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 9
                        }
                    },
                    {
                        "name": "brand_id",
                        "in": "query",
                        "description": "Filter by brand ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type_id",
                        "in": "query",
                        "description": "Filter by type ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "store_id",
                        "in": "query",
                        "description": "Filter by store ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "transmission",
                        "in": "query",
                        "description": "Filter by transmission",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fuel_type",
                        "in": "query",
                        "description": "Filter by fuel type",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "min_seats",
                        "in": "query",
                        "description": "Minimum seats",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "max_price",
                        "in": "query",
                        "description": "Maximum price",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/cars/{id}": {
            "get": {
                "tags": [
                    "Admin - Cars"
                ],
                "summary": "Get car details (admin)",
                "description": "Get detailed information about a specific car for admin",
                "operationId": "adminGetCar",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Car ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Car"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Car not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/cars/stats": {
            "get": {
                "tags": [
                    "Admin - Cars"
                ],
                "summary": "Get car statistics (admin)",
                "description": "Get car statistics for admin dashboard",
                "operationId": "adminGetCarStats",
                "parameters": [
                    {
                        "name": "store_id",
                        "in": "query",
                        "description": "Filter by store ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_cars": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "active_cars": {
                                            "type": "integer",
                                            "example": 450
                                        },
                                        "inactive_cars": {
                                            "type": "integer",
                                            "example": 50
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/cars/filters": {
            "get": {
                "tags": [
                    "Admin - Cars"
                ],
                "summary": "Get car filters (admin)",
                "description": "Get all available filters for cars (brands, types, stores) for admin",
                "operationId": "adminGetCarFilters",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "brands": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "types": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "stores": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/areas": {
            "get": {
                "tags": [
                    "Areas"
                ],
                "summary": "List areas",
                "description": "Get a list of active areas, optionally filtered by city",
                "operationId": "getAreas",
                "parameters": [
                    {
                        "name": "city_id",
                        "in": "query",
                        "description": "Filter by city ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "city_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Clifton"
                                                    },
                                                    "slug": {
                                                        "type": "string",
                                                        "example": "clifton"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/admin/contact-messages": {
            "get": {
                "tags": [
                    "Contact Messages"
                ],
                "summary": "List contact messages",
                "description": "Get a paginated list of contact messages (admin only)",
                "operationId": "getContactMessages",
                "parameters": [
                    {
                        "name": "store_id",
                        "in": "query",
                        "description": "Filter by store ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/contact": {
            "post": {
                "tags": [
                    "Contact Messages"
                ],
                "summary": "Create contact message",
                "description": "Submit a new contact message",
                "operationId": "createContactMessage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "contact_info",
                                    "message"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "contact_info": {
                                        "type": "string",
                                        "example": "john@example.com"
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "I would like to inquire about..."
                                    },
                                    "store_id": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "car_details": {
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Message created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Thank you for contacting us!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/admin/contact-messages/stats": {
            "get": {
                "tags": [
                    "Contact Messages"
                ],
                "summary": "Get contact message statistics",
                "description": "Get statistics for contact messages (admin only)",
                "operationId": "getContactMessageStats",
                "parameters": [
                    {
                        "name": "store_id",
                        "in": "query",
                        "description": "Filter by store ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_inquiries": {
                                            "type": "integer",
                                            "example": 150
                                        },
                                        "today_inquiries": {
                                            "type": "integer",
                                            "example": 5
                                        },
                                        "this_week_inquiries": {
                                            "type": "integer",
                                            "example": 25
                                        },
                                        "this_month_inquiries": {
                                            "type": "integer",
                                            "example": 100
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/upload/image": {
            "post": {
                "tags": [
                    "Image Upload"
                ],
                "summary": "Upload single image",
                "description": "Upload a single image to S3 storage",
                "operationId": "uploadSingleImage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "image"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "Image file (jpeg, png, jpg, gif, webp, max 2MB)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "directory": {
                                        "description": "Directory path in S3",
                                        "type": "string",
                                        "example": "uploads"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Image uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Image uploaded successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "url": {
                                                    "type": "string",
                                                    "example": "https://s3.amazonaws.com/bucket/path/image.jpg"
                                                },
                                                "filename": {
                                                    "type": "string",
                                                    "example": "image.jpg"
                                                },
                                                "size": {
                                                    "type": "integer",
                                                    "example": 102400
                                                },
                                                "mime_type": {
                                                    "type": "string",
                                                    "example": "image/jpeg"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Upload failed"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Image Upload"
                ],
                "summary": "Delete image",
                "description": "Delete an image from S3 storage",
                "operationId": "deleteImage",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "url"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "format": "url",
                                        "example": "https://s3.amazonaws.com/bucket/path/image.jpg"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Image deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Image deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/upload/images": {
            "post": {
                "tags": [
                    "Image Upload"
                ],
                "summary": "Upload multiple images",
                "description": "Upload multiple images to S3 storage (max 10 images)",
                "operationId": "uploadMultipleImages",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "images"
                                ],
                                "properties": {
                                    "images": {
                                        "description": "Image files (1-10 images)",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    },
                                    "directory": {
                                        "description": "Directory path in S3",
                                        "type": "string",
                                        "example": "uploads"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "All images uploaded successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "All images uploaded successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "uploaded": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "failed": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "Partial success - some images failed"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "All uploads failed"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/pick-and-drop": {
            "get": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "List pick and drop services",
                "description": "Get a paginated list of active pick and drop services with optional filters",
                "operationId": "getPickAndDropServices",
                "parameters": [
                    {
                        "name": "start_location",
                        "in": "query",
                        "description": "Filter by start location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_location",
                        "in": "query",
                        "description": "Filter by end location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "driver_gender",
                        "in": "query",
                        "description": "Filter by driver gender",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "male",
                                "female"
                            ]
                        }
                    },
                    {
                        "name": "min_spaces",
                        "in": "query",
                        "description": "Minimum available spaces",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "departure_date",
                        "in": "query",
                        "description": "Filter by departure date (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "departure_time",
                        "in": "query",
                        "description": "Filter by departure time (HH:MM)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PickAndDrop"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customer/pick-and-drop": {
            "post": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Create pick and drop service",
                "description": "Create a new pick and drop service",
                "operationId": "createPickAndDropService",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "start_location",
                                    "end_location",
                                    "pickup_city_id",
                                    "pickup_area_id",
                                    "dropoff_city_id",
                                    "dropoff_area_id",
                                    "departure_time",
                                    "available_spaces",
                                    "driver_gender"
                                ],
                                "properties": {
                                    "start_location": {
                                        "type": "string",
                                        "example": "Karachi Airport"
                                    },
                                    "end_location": {
                                        "type": "string",
                                        "example": "Clifton Beach"
                                    },
                                    "pickup_city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "pickup_area_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dropoff_city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dropoff_area_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "departure_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-01-15 10:00:00"
                                    },
                                    "available_spaces": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "driver_gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female"
                                        ],
                                        "example": "male"
                                    },
                                    "stops": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "location": {
                                                    "type": "string"
                                                },
                                                "city_id": {
                                                    "type": "integer"
                                                },
                                                "area_id": {
                                                    "type": "integer"
                                                },
                                                "stop_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "order": {
                                                    "type": "integer"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Service created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PickAndDrop"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/pick-and-drop/{id}": {
            "get": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Get pick and drop service details",
                "description": "Get detailed information about a specific pick and drop service",
                "operationId": "getPickAndDropService",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PickAndDrop"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Service not found"
                    }
                }
            }
        },
        "/api/customer/pick-and-drop/{id}": {
            "put": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Update pick and drop service",
                "description": "Update an existing pick and drop service (only owner can update)",
                "operationId": "updatePickAndDropService",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "start_location": {
                                        "type": "string",
                                        "example": "Karachi Airport"
                                    },
                                    "end_location": {
                                        "type": "string",
                                        "example": "Clifton Beach"
                                    },
                                    "pickup_city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "pickup_area_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dropoff_city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "dropoff_area_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "departure_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2024-01-15 10:00:00"
                                    },
                                    "available_spaces": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "driver_gender": {
                                        "type": "string",
                                        "enum": [
                                            "male",
                                            "female"
                                        ],
                                        "example": "male"
                                    },
                                    "stops": {
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Service updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PickAndDrop"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - not the owner"
                    },
                    "404": {
                        "description": "Service not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Delete pick and drop service",
                "description": "Delete a pick and drop service (only owner can delete)",
                "operationId": "deletePickAndDropService",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Service ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Service deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Service deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized - not the owner"
                    },
                    "404": {
                        "description": "Service not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/customer/pick-and-drop/my-services": {
            "get": {
                "tags": [
                    "Pick & Drop"
                ],
                "summary": "Get user's pick and drop services",
                "description": "Get a paginated list of the authenticated user's pick and drop services",
                "operationId": "getMyPickAndDropServices",
                "parameters": [
                    {
                        "name": "start_location",
                        "in": "query",
                        "description": "Filter by start location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_location",
                        "in": "query",
                        "description": "Filter by end location",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "driver_gender",
                        "in": "query",
                        "description": "Filter by driver gender",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "male",
                                "female"
                            ]
                        }
                    },
                    {
                        "name": "min_spaces",
                        "in": "query",
                        "description": "Minimum available spaces",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "departure_date",
                        "in": "query",
                        "description": "Filter by departure date",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PickAndDrop"
                                            }
                                        },
                                        "meta": {
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/user": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get current user",
                "description": "Get the authenticated user's information",
                "operationId": "getCurrentUser",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/users/stats": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get user statistics",
                "description": "Get user statistics for admin dashboard",
                "operationId": "getUserStats",
                "parameters": [
                    {
                        "name": "store_id",
                        "in": "query",
                        "description": "Filter by store ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total_users": {
                                            "type": "integer",
                                            "example": 500
                                        },
                                        "verified_users": {
                                            "type": "integer",
                                            "example": 450
                                        },
                                        "unverified_users": {
                                            "type": "integer",
                                            "example": 50
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login user",
                "description": "Authenticate user with email/phone and password",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "login_method"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com",
                                        "nullable": true
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "+923001234567",
                                        "nullable": true
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123",
                                        "nullable": true
                                    },
                                    "login_method": {
                                        "type": "string",
                                        "enum": [
                                            "password",
                                            "otp"
                                        ],
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "1|xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout user",
                "description": "Destroy the authenticated session and revoke the access token",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/confirm-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Confirm password",
                "description": "Confirm the user's password before sensitive operations",
                "operationId": "confirmPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "password"
                                ],
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "currentpassword"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password confirmed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Password confirmed."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid password"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/reset-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Reset password",
                "description": "Reset user password using the reset token",
                "operationId": "resetPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "token",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "reset-token-from-email"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "newpassword123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password reset successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Password reset successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error or invalid token"
                    }
                }
            }
        },
        "/api/send-login-otp": {
            "post": {
                "tags": [
                    "OTP"
                ],
                "summary": "Send OTP for login",
                "description": "Send OTP via email or SMS for user login",
                "operationId": "sendLoginOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com",
                                        "nullable": true
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "+923001234567",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "OTP sent successfully"
                                        },
                                        "identifier": {
                                            "type": "string",
                                            "example": "+923001234567"
                                        },
                                        "is_email": {
                                            "type": "boolean",
                                            "example": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "Validation error"
                    },
                    "500": {
                        "description": "Failed to send OTP"
                    }
                }
            }
        },
        "/api/verify-login-otp": {
            "post": {
                "tags": [
                    "OTP"
                ],
                "summary": "Verify OTP for login",
                "description": "Verify OTP and authenticate user",
                "operationId": "verifyLoginOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "identifier",
                                    "otp"
                                ],
                                "properties": {
                                    "identifier": {
                                        "description": "Email or phone number",
                                        "type": "string",
                                        "example": "+923001234567"
                                    },
                                    "otp": {
                                        "description": "6-digit OTP code",
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verified and login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or expired OTP"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "500": {
                        "description": "Failed to verify OTP"
                    }
                }
            }
        },
        "/api/send-signup-otp": {
            "post": {
                "tags": [
                    "OTP"
                ],
                "summary": "Send OTP for signup",
                "description": "Send OTP via email or SMS for new user registration",
                "operationId": "sendSignupOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "newuser@example.com",
                                        "nullable": true
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "+923001234567",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "OTP sent successfully"
                                        },
                                        "identifier": {
                                            "type": "string",
                                            "example": "+923001234567"
                                        },
                                        "is_email": {
                                            "type": "boolean",
                                            "example": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error (email/phone already exists)"
                    },
                    "500": {
                        "description": "Failed to send OTP"
                    }
                }
            }
        },
        "/api/verify-signup-otp": {
            "post": {
                "tags": [
                    "OTP"
                ],
                "summary": "Verify OTP for signup",
                "description": "Verify OTP for new user registration. Must be called before /api/register",
                "operationId": "verifySignupOtp",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "identifier",
                                    "otp"
                                ],
                                "properties": {
                                    "identifier": {
                                        "description": "Email or phone number",
                                        "type": "string",
                                        "example": "+923001234567"
                                    },
                                    "otp": {
                                        "description": "6-digit OTP code",
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OTP verified successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "OTP verified successfully"
                                        },
                                        "identifier": {
                                            "type": "string",
                                            "example": "+923001234567"
                                        },
                                        "is_email": {
                                            "type": "boolean",
                                            "example": false
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid or expired OTP"
                    },
                    "500": {
                        "description": "Failed to verify OTP"
                    }
                }
            }
        },
        "/api/set-password": {
            "post": {
                "tags": [
                    "OTP"
                ],
                "summary": "Set password for user",
                "description": "Set or update password for a user (optional, can be done after OTP login)",
                "operationId": "setPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "identifier",
                                    "password"
                                ],
                                "properties": {
                                    "identifier": {
                                        "description": "Email or phone number",
                                        "type": "string",
                                        "example": "+923001234567"
                                    },
                                    "password": {
                                        "description": "New password",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password set successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Password set successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/forgot-password": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Request password reset",
                "description": "Send a password reset link to the user's email",
                "operationId": "forgotPassword",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reset link sent if account exists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "A reset link will be sent if the account exists."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register new user",
                "description": "Register a new user account. OTP must be verified first using /api/verify-signup-otp",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "role"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com",
                                        "nullable": true
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "+923001234567",
                                        "nullable": true
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123",
                                        "nullable": true
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "user",
                                            "store_owner"
                                        ],
                                        "example": "user"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registration successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                                        },
                                        "password_set": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error or OTP not verified"
                    }
                }
            }
        },
        "/api/chat/conversations": {
            "get": {
                "tags": [
                    "Chat"
                ],
                "summary": "List conversations",
                "description": "Get a list of conversations for the authenticated user",
                "operationId": "getConversations",
                "parameters": [
                    {
                        "name": "store_id",
                        "in": "query",
                        "description": "Filter by store ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by conversation type (rental, booking, store, pick_and_drop)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Chat"
                ],
                "summary": "Create conversation",
                "description": "Create a new conversation for a booking, store, user, or pick and drop service",
                "operationId": "createConversation",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "booking",
                                            "store",
                                            "user",
                                            "pick_and_drop"
                                        ],
                                        "example": "booking"
                                    },
                                    "booking_id": {
                                        "description": "Required if type is booking",
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "store_id": {
                                        "description": "Required if type is store",
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "recipient_user_id": {
                                        "description": "Required if type is user",
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    },
                                    "pick_and_drop_service_id": {
                                        "description": "Required if type is pick_and_drop",
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Conversation created or retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/chat/conversations/{conversation}/messages": {
            "get": {
                "tags": [
                    "Chat"
                ],
                "summary": "Get conversation messages",
                "description": "Get all messages for a conversation and mark them as read",
                "operationId": "getMessages",
                "parameters": [
                    {
                        "name": "conversation",
                        "in": "path",
                        "description": "Conversation ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Chat"
                ],
                "summary": "Send message",
                "description": "Send a message in a conversation",
                "operationId": "sendMessage",
                "parameters": [
                    {
                        "name": "conversation",
                        "in": "path",
                        "description": "Conversation ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "maxLength": 2000,
                                        "example": "Hello, I'm interested in this car"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Message sent successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/bookings": {
            "get": {
                "tags": [
                    "Bookings"
                ],
                "summary": "List bookings",
                "description": "Get a paginated list of bookings for the authenticated user",
                "operationId": "getBookings",
                "parameters": [
[...]
